<div id="device" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <ul>
        <li v-for="device in devices">
            <img v-bind:src="device.img" v-if="!device.imgs">
            <div class='swipe slider' v-if="device.imgs">
                <div class='swipe-wrap'>
                    <div v-for="img in device.imgs" track-by="$index">
                        <img v-bind:src="img">
                    </div>
                </div>
            </div>
            <h3>{{device.title}}</h3>
        </li>
    </ul>
</div>