<div id="product">
    <div id='slider' class='swipe'>
        <div class='swipe-wrap'>
            <div v-for="img in product.imgs" v-html="img" track-by="$index"></div>
        </div>
    </div>
    <div class="description">
        <p>{{product.description}}</p>
    </div>
    <div class="product-item">
        <h3>应用领域</h3>
        <ul class="detail-params">
            <li v-for="param in product.params">
                <span class="key">{{param.key}}:</span>
                <span class="value">{{param.value}}</span>
            </li>
        </ul>
    </div>
    <div class="product-item" v-for="detail in product.detail">
        <h3>{{detail.title}}</h3>
        <div v-html="detail.img"></div>
        <p class="product-description" v-html="detail.description"></p>
        <p v-if="detail.type"><span>产品品种:</span>{{detail.type}}</p>
    </div>
</div>