body, html {
  background: #f6f6f6;
  height: 100%;
}

#contact {
  height: 100%;

  .bg {
    background: data-uri("../../build/images/info_bg.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
  }
}

.bottom-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), #fff, #fff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(rgba(255, 255, 255, 0.7), #fff, #fff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.7), #fff, #fff); /* Firefox 3.6 - 15 */
  background: linear-gradient(rgba(255, 255, 255, 0.7), #fff, #fff); /* 标准的语法（必须放在最后） */

  li {
    padding: 5px 20px;
  }

  span {
    display: inline-block;
  }

  .item-key {
    width: 100%;
    color: #000;
  }

  .item-value {
    margin-top: 5px;
  }
}

.slide-in-enter {
  animation: slide-in .5s;
}

@keyframes slide-in {
  0% {
    bottom: -300px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}