body, html {
  background: #f6f6f6;
  height: 100%;
}

#contact {
  .bg {
    background: data-uri("../../build/images/info_bg.png") no-repeat;
    width: 100%;
  }
}

.bottom-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;

  li {
    padding: 5px 20px;
  }

  span {
    display: inline-block;
  }

  .item-key {
    width: 100%;
    color: #000;
  }

  .item-value {
    margin-top: 5px;
  }
}

.slide-in-enter {
  animation: slide-in .5s;
}

@keyframes slide-in {
  0% {
    bottom: -300px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}