<div id="contact" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <!--<img v-bind:src="backgroundImage">-->
    <div class="bg"></div>
    <div class="top-layer"></div>
    <div class="bottom-layer" v-show="showInfo">
        <ul>
            <li v-for="info in infos">
                <span class="item-key">{{info.key}}</span>
                <span class="item-value" v-if="info.values" v-for="value in info.values">{{value}}</span>
                <span class="item-value" v-if="info.value">{{info.value}}</span>
            </li>
        </ul>
    </div>
</div>