html, body {
  height: 100%;
}

body {
  background-color: #f6f6f6;
}

.home {
  //background: data-uri('../../build/images/home_bg_2.png');
  background-size: 100%;
  height: 100%;
  width: 100%;
}

#home {
  img {
    width: 100%;
    height: 100%;
  }

  .panel {
    opacity: 0.9;
    background-color: #fff;

    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .item {
    box-sizing: border-box;
    float: left;
    width: 50%;
    text-align: center;

    &.item-left {
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }

    &.item-right {
      border-bottom: 1px solid #eee;
    }

    a {
      display: block;
      padding: 40px 0;
    }
  }

  .bottom-img {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .logo {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;

    img {
      width: 192px;
      height: 66px;
    }
  }

  .footer {
    text-align: center;
  }
}